<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvcGithub.dao.ProjectFilterMapper">

    <insert id="insertProjects_1" parameterType="cn.springmvcGithub.model.Project">
        insert into projects_1 (id, url, owner_id, name, description, language,
      created_at, forked_from, deleted, updated_at)
     values
     <foreach collection="list" item="item" index="index" separator=",">
     (#{item.id}, #{item.url}, #{item.ownerId},
      #{item.name}, #{item.description}, #{item.language},
      #{item.createdAt}, #{item.forkedFrom}, #{item.deleted},
      #{item.updatedAt})
     </foreach>
    </insert>

    <select id="getProjectsFromWatcherNum" resultType="java.lang.Integer">
        SELECT repo_id FROM watcher_num where watcher_num > 5
    </select>

    <select id="getProjectBatch" resultType="cn.springmvcGithub.model.Project">
        select * FROM projects
        where id IN
        <foreach item = "item" index = "index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and forked_from is NULL
    </select>

</mapper>