<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.CooperationMapper">

    <select id="selectProjectId_Filter1" resultMap="java.lang.Integer">
        SELECT DISTINCT(project_id)
        FROM project_languages_filter1
    </select>

    <select id="selectMembersByProjectId" parameterType="java.lang.Integer">
        SELECT committer_id FROM project_committer_test
        WHERE project_id = #{projectId,jdbcType=INTEGER}
    </select>

    <insert id="insertCooperationBatch" parameterType="java.util.Map">
        INSERT INTO Cooperation_test VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{userA},#{userB},#{cop})
        </foreach>
        ON DUPLICATE KEY
        UPDATE cop = cop + VALUES(cop)
    </insert>

</mapper>