<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.IntimacyMapper">

    <select id="getUserId" resultType="java.lang.Integer">
        SELECT DISTINCT(userA)
        FROM Relation
    </select>

    <select id="getAllRelation" resultType="java.util.Map">
        SELECT userA, userB, copCost, orgCost, fol
        FROM Relation
        WHERE
        <foreach collection="list" item="item" index="index" separator="OR">
            userA = #{item}
        </foreach>
    </select>

    <update id="updateIntimacy" parameterType="java.lang.Object">
        UPDATE Relation
        SET folCost = #{val,jdbcType=DOUBLE}
        WHERE userA = #{userA,jdbcType=INTEGER} AND userB = #{userB,jdbcType=INTEGER}
    </update>

    <select id="getProjectId" resultType="java.lang.Integer">
        SELECT DISTINCT(project_id)
        FROM project_languages_filter1
    </select>

    <select id="getMembersByPid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT committer_id FROM project_committer
        WHERE project_id = #{project_id,jdbcType=INTEGER}
    </select>

    <select id="getPairIntimacy" parameterType="java.lang.Integer" resultType="java.lang.Double">
        SELECT Intimacy FROM Relation
        WHERE userA = #{userA,jdbcType=INTEGER} AND userB = #{userB,jdbcType=INTEGER}
    </select>

    <insert id="insertTeamIntimacy" parameterType="java.util.Map">
        INSERT INTO TeamIntimacy VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{pid,jdbcType=INTEGER},#{userA,jdbcType=INTEGER},#{userB,jdbcType=INTEGER},#{value,jdbcType=DOUBLE})
        </foreach>
    </insert>

</mapper>