<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.LangAbilityMapper">

    <select id="selectProjectId_Filter1" resultType="java.lang.Integer">
        SELECT DISTINCT(project_id)
        FROM project_languages_filter1
    </select>

    <select id="getWatchNum" resultType="java.lang.Integer">
        SELECT watcher_num FROM watcher_num
        WHERE repo_id = #{repo_Id,jdbcType=INTEGER}
    </select>

    <select id="selectLangPercent" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT language, percent FROM project_languages_filter1
        WHERE project_id = #{project_Id,jdbcType=INTEGER}
    </select>

    <select id="selectAuthorTime" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT author_id, times FROM project_author
        WHERE project_id = #{project_Id,jdbcType=INTEGER}
    </select>

    <insert id="insertLangAbility" parameterType="java.util.Map">
        INSERT INTO LangAbility
        (author_id,
        <foreach collection="langAbility" close=")" separator="," index="key" item="val">
            ${key}
        </foreach>
        VALUES
        (#{author_Id,jdbcType=INTEGER},
        <foreach collection="langAbility" close=")" separator="," index="key" item="val">
            #{val,jdbcType=DOUBLE}
        </foreach>
        ON DUPLICATE KEY
        UPDATE
        <foreach collection="langAbility" separator="," index="key" item="val">
            ${key} = ${key} + VALUES(${key})
        </foreach>
    </insert>

    <insert id="insertAbilityByProject">
        INSERT INTO LangAbility
        (author_id,
        <foreach collection="langs" close=")" separator="," index="index" item="item">
            ${item}
        </foreach>
        VALUES
        <foreach collection="langAbility" open="(" close=")" separator="," index="author_id" item="ability">
            (#{author_id,jdbcType=INTEGER},
            <foreach collection="ability" close=")" separator="," index="index" item="item">
                #{item,jdbcType=DOUBLE}
            </foreach>
        </foreach>
        ON DUPLICATE KEY
        UPDATE
        <foreach collection="langs" separator="," index="index" item="item">
            ${item} = ${item} + VALUES(${item})
        </foreach>
    </insert>

</mapper>