<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.LangSuffixMapper">

    <select id="readRow" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT language, tt.fileType AS fileType
        FROM project_languages_filter1,
        (SELECT project_id, fileType FROM commits_all limit #{limit,jdbcType=INTEGER} offset limit #{offset,jdbcType=INTEGER}) tt
        WHERE project_languages_filter1.project_id = tt.project_id;
    </select>

    <insert id="updateLangsuffix" parameterType="java.util.Map">
        INSERT INTO LangSuffixFreq VALUES
        <foreach collection="LangSuffixMap" separator="," index="lang" item="val">
            <foreach collection="val" separator="," index="suffix" item="freq">
                (#{lang,jdbcType=VARCHAR},#{suffix,jdbcType=VARCHAR},#{freq,jdbcType=INTEGER})
            </foreach>
        </foreach>
        ON DUPLICATE KEY UPDATE
        freq = freq + VALUES(freq)
    </insert>

</mapper>