<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.ProjectMemberAnaMapper">

    <select id="getMemOfPrj" resultType="java.lang.Integer">
        SELECT members FROM filter1_project_id
        WHERE members is not null
    </select>

    <insert id="saveMemPercent" parameterType="java.util.Map">
        INSERT INTO project_dis VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.member,jdbcType=INTEGER},#{item.count,jdbcType=INTEGER},#{item.percent,jdbcType=DOUBLE})
        </foreach>
    </insert>

    <select id="getProjects" resultType="java.lang.Integer">
        SELECT project_id FROM filter1_project_id
    </select>

    <select id="getMembers" resultType="java.lang.Integer">
        SELECT ${field} FROM ${table}
        WHERE project_id = #{project_id,jdbcType=INTEGER}
    </select>
    
    <update id="updateResult" parameterType="java.lang.Integer">
        UPDATE filter1_project_id SET lost = ${lost,jdbcType=INTEGER}
        WHERE project_id = #{project_id,jdbcType=INTEGER}
    </update>

</mapper>