<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvcGithub.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="cn.springmvcGithub.model.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="forked_from" jdbcType="INTEGER" property="forkedFrom" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="updated_at" jdbcType="VARCHAR" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, url, owner_id, name, description, language, created_at, forked_from, deleted, 
    updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from projects
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from projects
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.springmvcGithub.model.Project">
    insert into projects (id, url, owner_id, 
      name, description, language, 
      created_at, forked_from, deleted, 
      updated_at)
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{ownerId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{forkedFrom,jdbcType=INTEGER}, #{deleted,jdbcType=BIT}, 
      #{updatedAt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.springmvcGithub.model.Project">
    insert into projects
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="forkedFrom != null">
        forked_from,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="forkedFrom != null">
        #{forkedFrom,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.springmvcGithub.model.Project">
    update projects
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="forkedFrom != null">
        forked_from = #{forkedFrom,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.springmvcGithub.model.Project">
    update projects
    set url = #{url,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      forked_from = #{forkedFrom,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT},
      updated_at = #{updatedAt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>